@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
    background-color: rgb(243, 243, 243);
    margin: 0px;
    padding: 0px;

}

.firsthead {
    margin-top: 50px;
}

.card-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    min-width: 400px;
    min-height: 400px;
    align-items: center;
}

.card {
    height: 150px;
    width: 150px;
    min-width: 400px;
    min-height: 460px;
    text-align: center;
    transition: 0.4s;
    border-radius: 10px;
    background-color:white ;
    box-shadow: 1px 1px 2px ;
}

.card:hover {
    box-shadow: 3px 3px 9px #2e3867, -1px -1px 3px #c68113;
    transition: 0.4s;
}

.cardimg {
    object-fit: cover;
    height: 200px;
    width: 400px;
    border-radius: 10px 10px 0px 0px;

}

.hcard {
    text-align: center;
    font-size: 35px;
}

.pcard {
    text-align: center;
    margin: 20px;
}

.cardbotton {
    color:#6e4605;
    text-align: center;
    cursor: pointer;
    padding: 7px;
    font-size: large;
    transition: 0.3s;
    border: 3px solid #f39c12;
    border-radius: 5px;
}

.cardbotton:hover {
    background-color: #f39c12;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 7px;
    font-size: large;
    transition: 0.3s;
    box-shadow: 1px 1px 5px black;
}

.firsthead {
    color: #f39c12;
    font-size: 50px;
}

.hrcard {
    color: #f39c12;
    min-width: 50px;
    border: 3px solid;
    width: 1230px;
}

.app-header {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    background-color: white;
        box-shadow: 1px 1px 5px rgb(153, 151, 151);

}

.headercontainer {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;


}

.headerlogo {
    height: 100px;
    width: 100px;
    margin-right: 10px;
        transition: 0.3s;

}
.headerlogo:hover {
    height: 120px;
    width: 120px;
    margin-right: 10px;
    transition: 0.3s;
}

.navheader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    flex-wrap: wrap;
    min-width: 100px;
}

.ulheader {
    display: flex;
    margin: 15px;
    list-style: none;

}

.liheader {
    margin: 15px;
    background-color: #f39c12;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    justify-content: center;
    min-width: 100px;
    text-align: center;
    align-content: center;
    transition: 0.3s;

}

.headerlink {
    text-decoration: none;
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 20px;
    color: white;
}
.liheader:hover {
    background-color: #c68113;
    transition: 0.5s;
    box-shadow: 3px 3px 5px #e0dad1 ,-3px -3px 5px #f3e7d5;
}
#active{
        background-color: #c68113;
}
.footercontainer{
    display:flex ;
    margin-top: 100px;
    background-color: white;
    padding: 0px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgb(153, 151, 151);


}
.footerbody{
    display: flex;
    justify-content: center;
    align-items: center;

}
.imgfooter{
        height: 70px;
    width: 70px;
    padding: 10px;
        transition: 0.3s;
}
.imgfooter:hover{
        height: 80px;
    width: 80px;
    padding: 10px;
        transition: 0.3s;
}
.pfooter{
    display: flex;
        padding: 0px;
        margin: 0px;
        justify-content: center;
        text-align: center;
        align-items: center;
}
.item-price{
    color: rgb(19, 132, 19);
    font-family:'Times New Roman', Times, serif;
    padding-bottom: 3px;
}
.item-price:hover{
    color: rgb(5, 49, 5);
    transition: 0.3s;
}
.acatbutton{
    text-decoration: none;
    color: #ab6e0b;
    padding: 5px;
}
.acatbutton:hover{
    text-decoration: none;
    color: #e6e6e6;
}
.liheadercart{
    margin: 15px;
    background-color: #f39c12;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    justify-content: center;
    min-width: 100px;
    text-align: center;
    align-content: center;
    transition: 0.3s;
}
.liheadercart:hover{
    transition: 0.3s;
    background-color: #000000;
}
i{
color: #ffffff;
}
.app-title{
    font-size: 25px;
    color: #69460f;
    transition: 0.5s;
}

.app-title:hover{
    color: #2e3867;
    transition: 0.5s;
}
.aboutuscontainer{
    text-align: center;
}
.paboutus{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 30px;
}
.h1aboutus{
    text-decoration: none;
    color: #c68113;font-family: 'Courier New', Courier, monospace;font-size: 30px;
    transition: 0.5s;

}
.h1aboutus:hover{
    font-size:40px;
    color: #d5ac22;
    transition: 0.5s;
    
}
#title{
    background-color: #ffffff;
    height: 75px;
    color: #ffffff;
}

/*Contact us*/

.contact-bg{
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(image/contact-bg.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-bg h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.contact-bg h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: orange;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: orange;
    border-radius: 50%;
}
.text{
    font-weight: 300;
    opacity: 0.9;
}
.contact-bg .text{
    margin: 1.6rem 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: orange;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}
.contact-form{
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}
.contact-form form{
    padding-bottom: 1rem;
}
.form-control{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}
.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}
.send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: orange;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.send-btn:hover{
    opacity: 0.8;
}
.contact-form > div img{
    width: 85%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}
.contact-footer{
    padding: 2rem 0;
    background: #000;
}
.contact-footer h3{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-right: auto;
}
.social-links a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: orange;
    border: 2px solid orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.social-links a:hover{
    color: rgb(180, 123, 16);
    border-color: rgb(180, 123, 16);
}

@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}
.map{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    right: 0px;
}
    .mdcardbotton {
      font-size: 16px;
      cursor: pointer;
          color:#6e4605;
    text-align: center;
    cursor: pointer;
    padding: 7px;
    font-size: large;
    transition: 0.3s;
    border: 3px solid #f39c12;
    border-radius: 5px;
    }

    .mdcardbotton:hover {
    background-color: #f39c12;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 7px;
    font-size: large;
    transition: 0.3s;
    box-shadow: 1px 1px 5px black;

}

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      width: 400px;
      min-height: 130px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
      margin-top: 9px;
      border-radius: 0px 0px 10px 10px;
      transition: 0.3s;
      
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: center;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
      color: rgb(255, 255, 255);
    }
    .dropdown{
        display: inline;
    }